absl-py==2.1.0
pandas==2.2.3
matplotlib==3.9.2
ortools==9.11.4210
idna==3.10
wandb==0.19.1
smmap==5.0.1
psplib==0.1.1
mkl-fft==1.3.8
unicodedata2==15.1.0
scipy==1.13.1
GitPython==3.1.43
pytest==7.4.4
zipp==3.21.0
contourpy==1.2.0
immutabledict==4.2.1
requests==2.32.3
gitdb==4.0.11
six==1.16.0
wheel==0.44.0
kiwisolver==1.4.4
tqdm==4.67.1
urllib3==2.3.0
click==8.1.8
fonttools==4.51.0
numpy==1.26.4
psutil==6.1.1
pyparsing==3.2.0
cycler==0.11.0
iniconfig==1.1.1
mkl-random==1.2.4
python-dateutil==2.9.0.post0
pytz==2024.2
charset-normalizer==3.4.1
packaging==24.2
pillow==11.0.0
pydantic_core==2.27.2
protobuf==5.26.1
pip==24.2
pydantic==2.10.4
pluggy==1.5.0
setuptools==75.1.0
enum-tools==0.12.0
pyjobshop==0.0.2
tornado==6.4.2
importlib_resources==6.4.0
docker-pycreds==0.4.0
tomli==2.0.1
sentry-sdk==2.19.2
typing_extensions==4.12.2
PyYAML==6.0.2
tzdata==2024.2
mkl-service==2.4.0
fjsplib==0.0.1
platformdirs==4.3.6
exceptiongroup==1.2.0
setproctitle==1.3.4
annotated-types==0.7.0
certifi==2024.12.14
eval_type_backport==0.2.2
Pygments==2.18.0
